# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/.github/workflows" # Location of package manifests
    schedule:
      interval: "daily"
    assignees:
      - "Sella-GH"
    commit-message:
      prefix: "[Actions]"
      include: "scope"
    labels:
      - "area-ci"
      - "area-dependencies"

  - package-ecosystem: "dotnet-sdk"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "Sella-GH"
    commit-message:
      prefix: "[.NET SDK]"
      include: "scope"
    labels:
      - "area-dependencies"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major" # We only want minor and patch releases of the newest SDK(s)

  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    assignees:
      - "Sella-GH"
    commit-message:
      prefix: "[NuGet]"
      include: "scope"
    labels:
      - "area-dependencies"
    ignore:
      - dependency-name: "DSharpPlus*"
      - dependency-name: "DSharpPlus.*"
    groups:
      Analyzers:
        applies-to: version-updates
        patterns:
        - "Roslynator.*"
        - "SonarAnalyzer.*"
        update-types:
        - "major"
        - "minor"
        - "patch"
      Microsoft:
        applies-to: version-updates
        patterns:
        - "EntityFrameworkCore.*"
        - "Microsoft.*"
        - "Npgsql*"
        - "Npgsql.*"
        - "NReco.*"
        update-types:
        - "minor"
        - "patch"
      Others:
        applies-to: version-updates
        exclude-patterns:
        - "EntityFrameworkCore.*"
        - "Microsoft.*"
        - "Npgsql"
        - "Npgsql.*"
        - "NReco.*"
        - "Roslynator.*"
        - "SonarAnalyzer.*"
        update-types:
        - "major"
        - "minor"
        - "patch"
