include:
  - ./AzzyBot/Modules/MusicStreaming/Files/docker-compose.yml
services:
  AzzyBot:
    container_name: AzzyBot
    image: sellagh/azzybot:dev
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - lavalink
    networks:
      - lavalink
    volumes:
      - ./AzzyBot/Customization:/app/Customization
      - ./AzzyBot/Modules/AzuraCast/Files:/app/Modules/AzuraCast/Files
      - ./AzzyBot/Settings:/app/Settings
