<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <add key="Npgsql" value="https://www.myget.org/F/npgsql-vnext/" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Npgsql">
      <package pattern="Npgsql" />
      <package pattern="Npgsql.*" />
    </packageSource>

    <packageSource key="Nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
