<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="NPGSQL myget.org" value="https://www.myget.org/F/npgsql-vnext/api/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="NPGSQL myget.org">
      <package pattern="Npgsql" />
      <package pattern="Npgsql.*" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
