<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Kind of music bot for discord, written in C# and with DSharpPlus. This bot is dedicated for the use with AzuraCast and does not work at it's fully glory without it." />
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url" content="@(NavManager.ToAbsoluteUri(NavManager.Uri))" />
    <HeadOutlet />
    <base href="/" />
    <link rel="canonical" href="@(NavManager.ToAbsoluteUri(NavManager.Uri))" />
    <link rel="stylesheet" href="app.css" />
</head>

<body>
    <script src="_framework/blazor.web.js"></script>
    <Routes @rendermode="InteractiveServer" />
</body>

</html>
