@page "/"

<HeadContent>
    <meta property="og:title" content="Home" />
    <meta property="og:description" content="Kind of music bot for discord, written in C# and with DSharpPlus. This bot is dedicated for the use with AzuraCast and does not work at it's fully glory without it." />
    <title>Home</title>
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.
