# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish debug build

on:
  push:
    paths:
      - "**.cs"
      - "**.csproj"
      - "**.json"
      - "**.props"
      - "**.sln"
      - ".github/workflows/docker.yml"
      - ".github/workflows/dotnet.yml"
      - "Dockerfile"
  workflow_dispatch:

jobs:
  build:
    name: Build and Publish DEBUG for ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            arch: x64
          - os: linux
            arch: arm64
          - os: win
            arch: x64
          - os: win
            arch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup .NET 8.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Install GitHub CLI
        run: sudo apt-get update && sudo apt-get install -y gh
      
      - name: Publish Debug
        run: |
          dotnet publish -c Debug -r ${{ matrix.os }}-${{ matrix.arch }}

      - name: Download and extract Lavalink
        run: |
          mkdir -p ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Modules/MusicStreaming/Files
          gh release download 4.0.4 --dir './artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Modules/MusicStreaming/Files' --pattern 'Lavalink.jar' --repo lavalink-devs/Lavalink
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download and extract Updater
        run: |
          mkdir -p ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Updater
          gh release download --dir './artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Updater' --pattern 'release-${{ matrix.os }}-${{ matrix.arch }}.zip' --repo Sella-GH/AzzyBot-Updater
          unzip ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Updater/release-${{ matrix.os }}-${{ matrix.arch }}.zip -d ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Updater/
          rm ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Updater/release-${{ matrix.os }}-${{ matrix.arch }}.zip
          echo "${{ github.event.head_commit.timestamp }}" > ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/BuildDate.txt
          echo "${{ github.sha }}" > ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}/Commit.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Archive Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-${{ matrix.os }}-${{ matrix.arch }}
          path: ./artifacts/publish/AzzyBot/debug_${{ matrix.os }}-${{ matrix.arch }}

  docker-build:
    needs: build
    name: Create and uploads the Docker image
    uses: ./.github/workflows/docker.yml
    with:
      docker-username: ${{ secrets.DOCKERHUB_USERNAME }}
      docker-password: ${{ secrets.DOCKERHUB_PASSWORD }}
