name: "SonarQube Cloud Scanner"

on:
  push:
    branches-ignore:
    - rel/**
    paths:
    - "**.cs"
    - "**.csproj"
    - "**.json"
    - "**.props"
    - "**.sln"
    - "**.yml"
  schedule:
  # Once a day at 05:00 UTC
  - cron: '0 5 * * *'
  workflow_dispatch:

jobs:
  build:
    name: Build And Analyze
    runs-on: windows-2025
    permissions:
      contents: read
    steps:
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 10

      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 17
          distribution: temurin

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Cache SonarQube Cloud Packages
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # 5.0.2
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarQube Cloud Scanner
        id: cache-sonar-scanner
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # 5.0.2
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarQube Cloud Scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

      - name: Build And Analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"Sella-GH_AzzyBot" /o:"sella-gh" /d:sonar.token="$env:SONAR_TOKEN" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.exclusions="extern/**/*, src/AzzyBot.Data/Migrations/**/*"

          dotnet restore .\src\AzzyBot.Bot\AzzyBot.Bot.csproj --configfile .\Nuget.config --force --no-cache --ucr
          dotnet build .\src\AzzyBot.Bot\AzzyBot.Bot.csproj -c Release --no-incremental --no-restore --no-self-contained --ucr

          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="$env:SONAR_TOKEN"

  cleanup:
    name: Cleanup Runs
    if: ${{ github.event_name == 'schedule' }}
    permissions:
      actions: write
    uses: dotnet/arcade/.github/workflows/scheduled-action-cleanup-base.yml@main
    with:
      repository_owners: ${{ github.repository_owner }}
